<div class="jumbotron">
  <h2>To do App ! Don't let your today goals go away</h2>
  <br>
  <h4>Free and easy to use ! Get started today and organize your life</h4>
  <br>
  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-info" %>
</div>
